*{
    margin: auto 0;
    padding: auto 0;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-container{
    border: 1px solid black;
    height: 340px;
    width: 255px;
    border-radius: 15px;
    padding: 10px;

}

.row{
    display: flex;
    justify-content: space-between;
}